<odoo>

    <record id="hr_attendance_action_kiosk_lunch_mode" model="ir.actions.client">
        <field name="name">Attendances</field>
        <field name="tag">hr_attendance_kiosk_lunch_mode</field>
        <field name="target">fullscreen</field>
    </record>

    <record id="hr_attendance_action_lunch_greeting_message" model="ir.actions.client">
        <field name="name">Message</field>
        <field name="tag">hr_attendance_lunch_greeting_message</field>
    </record>

    <menuitem id="hr_lunch_time_lunch_only_menu" name="Dining Room Registration"
              parent="hr_attendance.menu_hr_attendance_root" sequence="15"
              groups="hr_attendance.group_hr_attendance_kiosk"
              action="hr_attendance_action_kiosk_lunch_mode"/>

    <template id="assets_hr_lunch_time" name="hr_lunch_time assets" inherit_id="web.assets_backend">
        <xpath expr="." position="inside">
            <script type="text/javascript" src="/hr_lunch_kiosk/static/src/js/lunch_kiosk.js"/>
            <script type="text/javascript" src="/hr_lunch_kiosk/static/src/js/greeting.js"/>
        </xpath>
    </template>

</odoo>